
@import '../../variables';

html {
    overflow-x: hidden;
    
    & * {
        border-radius: 5px;
        font-family: 'Lato';
    }
}

body {
    min-height: 100vh;
    background-color: $warmIvory;
}

main { 
    margin: 0 5%;
    height: 100%;
    position: relative;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 50% 50%;
    padding: 15px;
    justify-items: center;
    align-items: center;

    
}

.dialog {
    background-color: $dialogBackground;
    color: $warmIvory;
    padding: 15px;
}

a {
    color: $warmIvory;

    &:hover {
        color: bisque;
        text-decoration: none;
    }
}

hr {
    background-color: white;
    margin: 5px;
    width: 100%;
}

button {
    border: none;
    width: max-content;
    height: max-content;
}

@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 100%;
    }
}

/* SideBar Stuff */

#sideBar {
    max-width: max-content;
    overflow: hidden;
    white-space: nowrap;
}
#sideBar > * {
    margin: 10px !important;
}
#sideBarContainer {
    justify-self: flex-start;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}